/* Font Gotu */
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Kaisei+Decol&display=swap');

@import "tailwindcss";

@theme{
    --color-midnight-green : #0F5666;
    --color-rosy-brown: #D3968C;
    --color-moss-green: #839958;
    --color-light-gray: #D9D9D9;
    --font-gotu: "Gotu";
    --font-kaisei-decol: "Kaisei Decol";
}